.bunner-wrapper {
  background-image: url("../../../assets/bg/bg1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}

.bunner-text {
  margin-bottom: 40px;
  margin-left: 40px;
}

.bunner-text > h1 {
  margin-bottom: 16px;
}

.bunner-text > h1,
.bunner-text > p {
  margin: 0;
}

/* Медіа-запити для мобільних пристроїв */
@media (max-width: 768px) {
  .bunner-wrapper {
    height: 100vh;
    min-height: 500px;
  }
  
  .bunner-text {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 480px) {
  .bunner-text {
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
