.originModal {
  display: flex;
  max-width: 890px;
  padding: 48px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 30px;
  border: 1px solid #424242;
  background: rgba(26, 27, 31, 0.40);
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, -15%);

  /* Modal Shadow */
  box-shadow: 0 128px 36px 0 rgba(0, 0, 0, 0), 0 82px 33px 0 rgba(0, 0, 0, 0.01),
    0 46px 28px 0 rgba(0, 0, 0, 0.05), 0 21px 21px 0 rgba(0, 0, 0, 0.09),
    0 5px 11px 0 rgba(0, 0, 0, 0.1);
}

.originModal p {
  color: #fff;
  text-align: center;
  font-family: Unbounded;
  font-size: clamp(14px, 2.6vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  letter-spacing: -0.6px;
}

.originModal span {
  color: var(--CTA, #ba83ff);
  font-family: Unbounded;
  font-size: clamp(14px, 2.6vw, 20px);
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.6px;
}

@media (max-width: 900px) {
  .originModal {
    margin-right: 50px;
  }
}

/* 
@media (max-width: 500px) {
  .originModal {
    margin-top: 100px;
  }
} */
